{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-primary text-white text-center">
                <h2>Modifier le profil</h2>
            </div>
            <div class="card-body">
                {{ include('profil/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    </div>
{% endblock %}
