<footer class="py-5 bg-dark">
    {# <div><img width="100%" height="200" src="{{asset('images/divers/bandeauCopyright.jpg')}}"></img></div> #}
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Ciel Bijoux 2025</p></div>
</footer>
