<div class="pt-5">
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Ciel Bijoux 2025
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><i class="fa-brands fa-facebook"></i></a>&nbsp;
                <a href="#"><i class="fa-brands fa-instagram"></i></a>&nbsp;
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ path('accueil_mentions') }}">Mentions légales</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ path('accueil_conditions') }}">Conditions Générales</a>
            </p>
        </div>
    </footer>
<div>